[submodule "qml-extras"]
	path = qml-extras
	url = https://github.com/papyros/qml-extras.git
[submodule "qml-material"]
	path = qml-material
	url = https://github.com/papyros/qml-material.git
[submodule "vqk"]
	path = vqk
	url = https://github.com/VQK/vqk.git
